* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;

  margin-top: 80px;
  background-color: #F0F0F0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 25px;
  width: 30%;
  height: 50vh;
  flex-shrink: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.swiper-slide:hover {
  background-color:#161145 ;
  color: white;
}

.swiper-slide:hover .text-card {
  color: white;
}

.swiper-slide:hover .card-bar {
  background-color: white;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 20vh;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.text-card {
  color: #161145;
  font-size: 1.5rem;
  font-weight: 900;
  margin: auto 0;
}

.card-bar {
  height: 1vh;
  width: 80%;
  background-color: rgb(251, 151, 36);
  border-radius: 1vh;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(251, 151, 36);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 1);
}